services:
  - type: web
    name: telegram-url-uploader-bot
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: BOT_USERNAME
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: LOG_CHANNEL
        sync: false
      - key: OWNER_ID
        sync: false
      - key: SESSION_STR
        value: ""
      - key: UPDATE_CHANNEL
        sync: false
      - key: PYTHONUNBUFFERED
        value: "1"
    autoDeploy: true
